/*Table of contents
1. Header styles
=====================================================================================================
*/

/*1. Header styles
=====================================================================================================*/
header {
  background-color: $blackTint25;
  color: $white;
  text-align: center;

  h1 {
  	border-bottom: 2px dotted $white;
  	font-family: 'Montserrat', sans-serif;
  	padding-bottom: 0.5em;
  }
}