/*Table of contents
1 Responsive images
=====================================================================================================
*/

/*1. Responsive images
=====================================================================================================*/
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}